<div class="slider">
  <div *ngIf="images.length>0">
    <p-carousel #myCarousel id="myCarousel" [responsive]="true" autoplayInterval="3000" pageLinks="10" circular="circular" numVisible="1"
      [value]="images">
      <ng-template let-image pTemplate="item">
        <div class="ui-grid ui-grid-responsive slideWrapper">

          <div class="ui-grid-col-12">
            <img width="100%" src={{image.attachmentUrl}}>
          </div>
          <!-- <div class="slideContent">
                    <h2>{{image.attachmentName}}</h2>
                    <h3>Starting From aed 400</h3>
                    <strong class="BuyNowBtn">
                        <a href="">Buy now</a>
                    </strong>
                </div> -->

        </div>
      </ng-template>
    </p-carousel>


  </div>
  <div *ngIf="images.length === 0">
    <h3 class="text-center" style="margin: 100px auto;">Loading...</h3>
  </div>
</div>
