<h3>Change Password</h3>
<div class="profileContent">
    <div class="row mb30">
        <div class="col-sm-4 col-md-3 text-right">Old Password</div>
        <div class="col-sm-6">
            <input pInputText type="password" trim="blur" pPassword [(ngModel)]="passwordModel.userPwd" />

        </div>
    </div>
    <div class="row mb30">
        <div class="col-sm-4 col-md-3 text-right">New Password</div>
        <div class="col-sm-6">
            <input pInputText type="password" trim="blur" pPassword [(ngModel)]="passwordModel.newPassword" />

        </div>
    </div>
    <div class="row mb30">
        <div class="col-sm-4 col-md-3 text-right">Confirm Password</div>
        <div class="col-sm-6">
            <input pInputText type="password" trim="blur" pPassword [(ngModel)]="passwordModel.confirmPassword" />
        </div>
    </div>
    <div class="row mb30">
        <div class="col-sm-4 col-md-3 text-right"></div>
        <div class="col-sm-6">
            <button class="btn btnYellow" (click)="onSave()">Save</button>
        </div>
    </div>
</div>