<div class="footerWrapper">
<footer><div class="footerLinks">
  <div class="container">
    <div class="row">
      <div class="footItem  col-sm-3">
          <h4>Resources</h4>
          <ul class="list-unstyled">
              <li>
                  <a>FAQ's</a>
              </li>
              <li>
                  <a>Support</a>
              </li>
              <li>
                  <a>About Us</a>
              </li>
              <li>
                  <a>Resources Hub</a>
              </li>
          </ul>
      </div>
      <div class="footItem  col-sm-3">
          <h4>Legal</h4>
          <ul class="list-unstyled">
              <li>
                  <a>Website Disclaimer</a>
              </li>

          </ul>
      </div>
      <div class="footItem  col-sm-3">
          <h4>Let us Help you</h4>
          <ul class="list-unstyled">
              <li>
                  <a>Your Account</a>
              </li>

          </ul>
      </div>
      <div class="footItem  col-sm-3">
          <h4>Get The App</h4>
          <ul class="list-unstyled">
              <li>
                  <a style="margin-right: 15px;"><img width="120" src="../../../assets/images/google-play.png"></a>
                  <a><img width="120" src="../../../assets/images/app-store.png"></a>
            
              </li>

          </ul>
      </div></div>
  </div>
</div>
  <div id="copyRightSec">
      <div class="container">
        
              <Span>Copyright &copy; Emaar 2018. All Right Reserved.</Span>
          
      </div>
  </div>
</footer></div>