<div class="loginConatiner clearfix">
  <div class="loginWrapper">
    <div class="Logo text-center">
      <img src="../../../../assets/images/layout/logo.png">
    </div>
    <div class="LoginContent" *ngIf="!isReset">
      <div *ngIf="isEmailSent">
        <h3>Email has been sent </h3>
        <p>Please click on the link that has been sent to your email account to reset your password.</p>
      </div>
      <div *ngIf="!isEmailSent">
        <h3>Reset Password</h3>
        <form (ngSubmit)="onSubmit(f.valid)" #f="ngForm">
          <div class="mt15">
            <input type="text" onkeypress="return AvoidSpace(event)" name="email" maxlength="50" [(ngModel)]="emailId" pInputText placeholder="Enter Your Email Id">
          </div>
          <div class="mt15">
            <button type="submit" class="btn btnBlue  btn-round btn-block">Reset Password</button>
          </div>
        </form>
      </div>
      <div class="externalLinks">
        <a (click)="backToLogin()" style="cursor: pointer;">Back to Login</a>
      </div>
    </div>

    <div class="LoginContent" *ngIf="isReset">

      <div *ngIf="!isTokenExpired">
        <h3>Reset Password </h3>
        <form (ngSubmit)="onResetPassword(resetPassword.valid)" #resetPassword="ngForm">
          <div class="mt15">
            <input type="text" [disabled]="true" name="emailId" maxlength="50" [(ngModel)]="emailId" pInputText placeholder="Enter Your Email Id"
              required>
          </div>
          <div class="mt15">
            <input type="password" name="repassword" maxlength="50" [(ngModel)]="password" pInputText placeholder="Password" required
              #passwordModel="ngModel">
            <div [hidden]="passwordModel.pristine && !resetPassword.submitted &&  passwordModel.untouched">
              <div *ngIf="passwordModel.errors && passwordModel.errors.required" class="text-danger">
                Password is required .
              </div>
            </div>
          </div>
          <div class="mt15">
            <input type="password" name="rePassword" maxlength="50" [(ngModel)]="rePassword" pInputText placeholder="Re enter Password"
              required #rePasswordModel="ngModel" validateEqual="password">
            <div [hidden]="rePasswordModel.pristine && !resetPassword.submitted &&  rePasswordModel.untouched">
              <div *ngIf="rePasswordModel.errors && rePasswordModel.errors.required" class="text-danger">
                Re Password is required .
              </div>
            </div>
          </div>
          <div class="mt15">
            <button type="submit" class="btn btnBlue  btn-round btn-block">Reset Password</button>
          </div>
        </form>
      </div>
      <div *ngIf="isTokenExpired">
        <h3>Token Expired</h3>
        <p>Your token has been expired or modified.Please re generate it again.</p>
      </div>

      <div class="externalLinks">
        <a (click)="backToLogin()" style="cursor: pointer;">Back to Login</a>
      </div>
    </div>
  </div>
</div>

<!-- 
<div style="font-size: 40px; word-break: break-all">
Email Sent to registered Email Id.
</div> -->