<div class="productFilter">
  <div class="clearfix">
    <div class="pull-left" style="margin-top: 5px;">Show {{dataCount}} out of {{totalRecords}}</div>
    <div class="pull-right">
      <span>Sort By:</span>
      <div class="sortingDropDown">
        <p-dropdown [options]="sortOptions" placeholder="Best Match" (onChange)="onSortChange($event)" [autoWidth]="false"></p-dropdown>
      </div>

    </div>
  </div>
</div>

<div>
  <p-dataView #dv [paginator]="false" [pageLinks]="3" [rows]="pageSize" [value]="productLists" paginatorPosition="bottom">
    <ul class="productContainetr clearfix row" style="width: 100%">
      <ng-template let-product pTemplate="listItem">
        <div class="col-sm-4">
          <div class="product">
            <div (click)="openIndividual(product.id)">
              <div class="text-center" *ngIf="product.productAttachments.length>0">
                <img height="102" src={{product.productAttachments[0].attachmentUrl}}>
              </div>

              <div class="prodctDec">{{product.productName |truncate:25}}
              </div>
              <div class="productTag">AED {{product.productPrice}}</div>
              <div class="productVendor">Vendor: {{product.vendorName}}</div>
            </div>
            <button class="addToCart" (click)="addToCartEvent(product)">Add to Cart
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            <button class="addToCart" (click)="setProductCompare(product)">Compare
              <i class="fa fa-exchange" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </ng-template>


    </ul>

  </p-dataView>
  <div [ngClass]="{'hide':isResultNotFound}">
    <div class="clearfix" style="background: #eef0f3;padding: 10px 0;">
      <div class="col-xs-6 paginator" *ngIf="totalRecords>pageSize">
        <p-paginator [rowsPerPageOptions]="[10,20,30]" [hidden]="totalRecords<pageSize" [rows]="pageSize" [totalRecords]="totalRecords"
          (onPageChange)="pageChanged($event)"></p-paginator>
      </div>
      <div class="col-xs-6" style="padding-top: 10px;" *ngIf="totalRecords>pageSize">
        <div class="row">
          <div class="col-xs-6">
            <div class="col-sm-6" style="padding-top: 4px;text-align: right;padding-right: 0; font-size: 12px;">
              <span>Jump to page</span>
            </div>
            <div class="col-sm-6">
              <div class="ui-inputgroup">
                <input style="width: 100%" type="text" OnlyNumber="true" name="pageNo" [(ngModel)]="pageNo" placeholder="Page No" id="pageNo">
                <span class="ui-inputgroup-addon" (click)="onPageEvent()">
                  <i class="fa fa-fw fa-angle-right"></i>
                </span>
              </div>
            </div>

          </div>
          <div class="col-xs-3" style="padding: 0">
            <div class="text-right" style="margin-top: 5px">Total Pages: {{totalPages}}</div>
          </div>
          <div class="col-xs-3" style="padding: 0px 20px 0px 0px;">
            <div class="text-right" style="margin-top: 5px">| Total Records: {{totalRecords}}</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 paginator" *ngIf="totalRecords<pageSize">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
          <div class="text-right" style="margin-top: 5px">Total Records: {{totalRecords}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="text-center" *ngIf="productLists.length===0 && isResultNotFound">
  <h3>Result Not Found</h3>
  <button type="submit" class="btn btnYellow btn-round" (click)="redirectPage('product-listing')">Request Quote</button>
</div>