.dashboardItemBox{
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #ccc;
    flex: 1;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.productsCount{
    color: #fdd933;
    font-size: 40px;
    font-weight: 300;
}
.productsName{
    font-size: 25px;
}
.productsCount,.productsName{
    width: 100%;
    text-align: center;
}
.dashBoardChart{
    border: 1px solid #ccc;
    padding: 20px;
}
.dashBoardChart{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    margin-top: 0;
}